* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding: 10px 15px;
}

@media screen and (width >= 900px) {
    .container {
        padding: 10px 5%;
    }
}