nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background: #f51e47;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.18em 5%;

    a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      padding: 0.1em 0;

      display: flex;
      align-items: center;
      gap: 0 0.3em;

      img {
        width: 70px;
      }
    }

    ul {
      list-style: none;
      display: flex;
      gap: 0 3em;
      position: relative;
    }

    .btn {
      display: none;
    }
  }
}

@media screen and (width < 726px) {
  nav {
    padding: 0.5em 1em 0;

    .container {
      display: flex;
      align-items: center;

      ul {
        visibility: hidden;
        width: 0;
        height: 0;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
      }

      .active {
        background: #f51e47;
        height: 50vh;
        width: 70%;
        padding: 0.5em 2em;
        visibility: visible;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5em 0;
        opacity: 1;
        position: absolute;
        right: 0;
        top: 100%;
      }

      .btn {
        color: #fff;
        display: block;
        font-size: 1.5em;
        background: transparent;
        border: none;
      }
    }
  }
}
